:root {
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0xp;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

}

.banner {
  position: static;
  top: 0px;
  margin: .1rem auto;
}

.content {
  display: flex;
}

.navbar {
  position: sticky;
  top: 0px;
  height: min-content;

  padding-right: 1rem;

  font-size: smaller;
  font-weight: 600;
  line-height: 2rem;

  color: rgb(36, 68, 128);
}

.content > main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content > main > section {
  padding: .2rem 2rem;
  border-radius: 4px;

  border-bottom: 2px solid rgba(184, 184, 184, 0.5);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.05);
}

.App > footer {
  margin: 1rem auto;
}